{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Facility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage an export facility",
    serviceUrl: "/facility-list",
    navigation: [
      {
        href: "#",
        text: "John Smith",
        active: true
      },
      {
        href: "#",
        text: "Profile"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }} 
  
{% endblock %}

{% block pageScripts  %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "facility-list"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">General Export Facility</span>
    <h1 class="govuk-heading-xl">
      {{ data['facility-1-name'] }}
    </h1>

    <h2 class="govuk-heading-l">Overview</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          UKEF facility ID
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          {{ data['facility-1-ref'] }}
        </dd>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Bank facility reference
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          DEF-56789
        </dd>
        <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Product type
        </dt>
        <dd class="govuk-summary-list__value">
          Contingent
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Facility description
        </dt>
        <dd class="govuk-summary-list__value">
          Guarantees
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Facility base currency
        </dt>
        <dd class="govuk-summary-list__value">
          GBP
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cover end date
        </dt>
        <dd class="govuk-summary-list__value">
          23 Jul 2025
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          1 year probability of default (reported semi-annually)
        </dt>
        <dd class="govuk-summary-list__value">
          Reported in July
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flag: 90 days still no utilisation (from date of facility letter)
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag">Facility utilised</strong>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      </dl>


      <h2 class="govuk-heading-l">Value and exposure</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Bank facility limit
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            GBP 2,500,000.00
          </dd>
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF cover
          </dt>
          <dd class="govuk-summary-list__value">
            80%
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF's maximum exposure
          </dt>
          <dd class="govuk-summary-list__value">
            GBP 2,000,000.00 
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl> 

    <h2 class="govuk-heading-l">Utilisation and fees</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Bank facility current utilisation
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          GBP {{ data['facility-1-utilisation'] }}
        </dd>
        <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
          <a class="govuk-link" href="/facility1/facility-utilisation">
            Update<span class="govuk-visually-hidden"> bank facility current utilisation</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKEF's current exposure
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-1-exposure'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/facility1/ukef-exposure">
            Update<span class="govuk-visually-hidden"> UKEF's current exposure</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fees paid to UKEF since last report submitted
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-1-paid'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/facility1/fees-paid">
            Update<span class="govuk-visually-hidden">Fees paid to UKEF since last report submitted</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Outstanding accrual at reporting date
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-1-accrued'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/facility1/fees-accrued">
            Update<span class="govuk-visually-hidden"> UKEF's guarantee fees accrued for the quarter</span>
          </a>
        </dd>
      </div>
    </dl>

    <form action="/facility-list" method="post" novalidate>
      <input type="hidden" name="facility-1-updated" value="yes">

      {{ govukButton({
        text: "Facility updates completed",
        value: data['facility-1-updated']
      }) }}

    </form>

    


  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
