{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Update facility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">Updating {{ data['facility-2-ref'] }}</span>
    <h1 class="govuk-heading-l">
      Fees paid to UKEF since last report submitted
    </h1>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        Current fees paid
    </h2>
      <p class="govuk-body">GBP {{ data['facility-2-paid'] }}</p>
      <form class="form" action="index" method="post">

        {{ govukInput({
            id: "facility-2-paid",
            name: "facility-2-paid",
            label: {
              text: "New fees paid",
              classes: "govuk-label--s",
              isPageHeading: true
            },
            prefix: {
              text: "GBP"
            },
            classes: "govuk-input--width-10",
            spellcheck: false
          }) }}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Save and continue"
            }) }}
          
            <a class="govuk-link govuk-link--no-visited-state" href="index">Cancel</a>
          </div>
      </form>
  </div>
</div>



{% endblock %}
