{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Facilities list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}


{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Facilities</h1>
      </div>
      <div class="govuk-grid-column-one-half govuk-!-text-align-right">
        {% if (data['facility-5-updated'] == 'yes') and (data['facility-6-updated'] == 'yes') or 
        (data['facility-5-updated'] == 'yes') and (data['facility-6-updated'] == 'edit') or 
        (data['facility-5-updated'] == 'edit') and (data['facility-6-updated'] == 'yes') or 
        (data['facility-5-updated'] == 'edit') and (data['facility-6-updated'] == 'edit') %}
        {{ govukButton({
          text: "Submit report to UKEF",
          href: "finished"
        }) }}
        {% else %}
        {% endif %}
      </div>
    </div>

    {% if (data['facility-5-updated'] == 'yes') and (data['facility-6-updated'] == 'yes') or 
        (data['facility-5-updated'] == 'yes') and (data['facility-6-updated'] == 'edit') or 
        (data['facility-5-updated'] == 'edit') and (data['facility-6-updated'] == 'yes') or 
        (data['facility-5-updated'] == 'edit') and (data['facility-6-updated'] == 'edit') %}
    {% else %}
    <p class="govuk-body">All facilities must be updated before they can be submitted to UKEF.</p>
    {% endif %}

    
    <table class="govuk-table" data-module="moj-sortable-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">Exporter</th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Bank reference</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Product</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
        </tr>
      </thead>
    
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['facility-5-name'] }}</td>
          <td class="govuk-table__cell"><a href="/facility5">{{ data['facility-5-ref'] }}</a></td>
          <td class="govuk-table__cell">GEF</td>
          {%  if (data['facility-5-updated'] == 'yes') or (data['facility-5-updated'] == 'edit')   %}
          <!-- updated view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          {% else %}
          <!-- default view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          {% endif %}
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['facility-6-name'] }}</td>
          <td class="govuk-table__cell"><a href="/facility6">{{ data['facility-6-ref'] }}</a></td>
          <td class="govuk-table__cell">GEF</td>
          {%  if (data['facility-6-updated'] == 'yes') or (data['facility-6-updated'] == 'edit')   %}
          <!-- updated view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          {% else %}
          <!-- default view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>

  </div>
</div>



{% endblock %}
