{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Facilities list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader({
    homepageUrl: "/index",
    serviceName: "Manage an export facility",
    serviceUrl: "/facility-list",
    navigation: [
      {
        href: "#",
        text: "John Smith",
        active: true
      },
      {
        href: "#",
        text: "Profile"
      },
      {
        href: "#",
        text: "Sign out"
      }
    ]
  }) }}
  
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
  </script>
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <!--
    {%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Home',
        href: '#1',
        active: true
      },
      {
        text: 'Reports',
        href: '#2'
      }
    ]
  }) }}
-->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Facilities
    </h1>

    <table class="govuk-table" data-module="moj-sortable-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Exporter</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">UKEF reference</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Product</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>
        </tr>
      </thead>
    
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">

          <td class="govuk-table__cell">COMPRESSORS LTD</td>
          <td class="govuk-table__cell"><a href="/facility1">00200013718</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Updated</strong></td>
          <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">PETROLEUM LTD</td>
          <td class="govuk-table__cell"><a href="/facility2">00200014139</a></td>
          <td class="govuk-table__cell">GEF</td>

          {% if 'yes' in data['facility-2-updated'] %}
          <!-- updated view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Updated</strong></td>
            <td class="govuk-table__cell">{{ data['todays-date'] }}</td>
          {% else %}
          <!-- default view -->
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
            <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
          {% endif %}

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">PHARAMACUETICALS LTD</td>
          <td class="govuk-table__cell"><a href="facility-1">00200014674</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
          <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">XYZ MOTORS LTD</td>
          <td class="govuk-table__cell"><a href="#">00200014998</a></td>
          <td class="govuk-table__cell">GEF</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Update required</strong></td>
          <td class="govuk-table__cell">{{ data['1-month-ago'] }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
