{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
  Finished – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              
              <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                  Updates submitted to UKEF
                </h1>  
                <div class="govuk-panel__body">
                  Pay UKEF the amount due
                </div>
              </div>

              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Amount due
                  </dt>
                  <dd class="govuk-summary-list__value">
                    GBP 2496.56
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Payment reference
                  </dt>
                  <dd class="govuk-summary-list__value">
                    AB12345
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    SWIFT code
                  </dt>
                  <dd class="govuk-summary-list__value">
                    BANKGB22
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['todays-date-full'] }}
                  </dd>
                </div>
              </dl>

                <p class="govuk-body">
                    An invoice is available in xxxxx xxxxxx and has been emailed to inbox@thebank.com.
                </p>
                <!--{{ govukButton({
                    text: "Download invoice",
                    href: "#",
                    classes: "govuk-button--secondary"
                }) }}-->

                <p class="govuk-body">
                    <a href="#" class="govuk-link">Return to all facilities</p></a> 
                </p>
            </div>
          </div>
        </main>
      </div>

    

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
  </div>
</div>

{% endblock %}
