{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Index2 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}

{% block pageScripts %}
  {% include "includes/scripts.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}


  <!-- {{ govukBackLink({
    text: "Back",
    href: "facility-list"
  }) }}-->
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">General Export Facility</span>
    <h1 class="govuk-heading-xl">
      {{ data['facility-5-name'] }}
    </h1>

    <h2 class="govuk-heading-l">Overview</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          UKEF facility ID
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          {{ data['facility-5-ref'] }}
        </dd>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Bank facility reference
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          RST-88778
        </dd>
        <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Product type
        </dt>
        <dd class="govuk-summary-list__value">
          Contingent
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Facility description
        </dt>
        <dd class="govuk-summary-list__value">
          Guarantees
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Facility base currency
        </dt>
        <dd class="govuk-summary-list__value">
          GBP
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cover end date
        </dt>
        <dd class="govuk-summary-list__value">
          23 Jul 2025
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          1 year probability of default (reported semi-annually)
        </dt>
        <dd class="govuk-summary-list__value">
          Reported in July
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flag: 90 days still no utilisation (from date of facility letter)
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag">Facility utilised</strong>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      </dl>


      <h2 class="govuk-heading-l">Value and exposure</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Bank facility limit
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            GBP 2,500,000.00
          </dd>
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF cover
          </dt>
          <dd class="govuk-summary-list__value">
            80%
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF's maximum exposure
          </dt>
          <dd class="govuk-summary-list__value">
            GBP 2,000,000.00 
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl> 

      <!-- Displayed by default with data from previous report-->
      <h2 class="govuk-heading-l">Last reported utilisation and fees</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Date of last report
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              {{ data['1-month-ago'] }}
            </dd>
            <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Bank facility utilisation
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              GBP {{ data['facility-5-utilisation'] }}
            </dd>
            <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKEF's exposure
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-5-exposure'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fees paid to UKEF since previous report submitted
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-5-paid'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Outstanding accrual at reporting date
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-5-accrued'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
        </dl>


        <!-- Show blank fields to be updated will latest data -->
        {% if 'no' in data['facility-5-updated'] %}

        <form action="/facility-list" method="post" novalidate>
          <input type="hidden" name="facility-5-updated" value="yes">

        <h2 class="govuk-heading-l">Update utilisation and fees</h2>

        {% set labelHtml %} 
        Fees paid to UKEF since last report submitted ({{ data['1-month-ago'] }})
        {% endset %}

        {{ govukInput({
        id: "facility-5new-utilisation",
        name: "facility-5new-utilisation",
        label: {
          text: "Bank facility current utilisation",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "GBP"
        },
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

      {{ govukInput({
        id: "facility-5new-exposure",
        name: "facility-5new-exposure",
        label: {
          text: "UKEF's current exposure",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "GBP"
        },
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

      {{ govukInput({
        id: "facility-5new-paid",
        name: "facility-5new-paid",
        label: {
          html: labelHtml,
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "GBP"
        },
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

      {{ govukInput({
        id: "facility-5new-accrued",
        name: "facility-5new-accrued",
        label: {
          text: "Outstanding accrual",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "GBP"
        },
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

      
  
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="/facility-list">Cancel</a>
        </div>
      </form>
      
      <!-- Show once updates have been saved - summary list view -->

      {% elseif 'yes' in data['facility-5-updated'] %}

      <form action="/facility5/index" method="post" novalidate>
        <input type="hidden" name="facility-5-updated" value="edit">

      <h2 class="govuk-heading-l">Updated utilisation and fees</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Date of update
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              {{ data['todays-date'] }}
            </dd>
            <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Bank facility utilisation
            </dt>
            <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
              GBP {{ data['facility-5new-utilisation'] }}
            </dd>
            <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKEF's exposure
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-5new-exposure'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fees paid to UKEF since previous report submitted
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-5new-paid'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Outstanding accrual at reporting date
            </dt>
            <dd class="govuk-summary-list__value">
              GBP {{ data['facility-5new-accrued'] }} 
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
        </dl>

        <h3 class="govuk-heading-m">Updates have been saved</h3>
        <p class="govuk-body">You can make changes before the report is submitted to UKEF.</p>
        
            {{ govukButton({
              text: "Make changes"
            }) }}
        </form>

        <!-- Show when changes want to be made to entered amounts
            text fields with already entered values -->

        {% endif %}
        
        <div id="enter-other-names-group" class="js-hidden">

        <form action="/facility-list" method="post" novalidate>
          <input type="hidden" name="facility-5-updated" value="yes">

        <h2 class="govuk-heading-l">Update utilisation and fees</h2>

        {% set labelHtml %} 
          Fees paid to UKEF since last report submitted ({{ data['1-month-ago'] }})
        {% endset %}

        {{ govukInput({
        id: "facility-5new-utilisation",
        name: "facility-5new-utilisation",
        label: {
          text: "Bank facility current utilisation",
          classes: "govuk-label--s"
        },
        prefix: {
          text: "GBP"
        },
        value: data['facility-5new-utilisation'],
        classes: "govuk-input--width-10",
        spellcheck: false
      }) }}

      {{ govukInput({
        id: "facility-5new-exposure",
        name: "facility-5new-exposure",
        label: {
          text: "UKEF's current exposure",
          classes: "govuk-label--s"
        },
        prefix: {
          text: "GBP"
        },
        classes: "govuk-input--width-10",
        value: data['facility-5new-exposure'],
        spellcheck: false
      }) }}

      {{ govukInput({
        id: "facility-5new-paid",
        name: "facility-5new-paid",
        label: {
          html: labelHtml,
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "GBP"
        },
        classes: "govuk-input--width-10",
        value: data['facility-5new-paid'],
        spellcheck: false
      }) }}

      {{ govukInput({
        id: "facility-5new-accrued",
        name: "facility-5new-accrued",
        label: {
          text: "Outstanding accrual",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        prefix: {
          text: "GBP"
        },
        classes: "govuk-input--width-10",
        value: data['facility-5new-accrued'],
        spellcheck: false
      }) }}
  
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}
          <a class="govuk-link govuk-link--no-visited-state" href="/facility-list">Cancel</a>
        </div>
    
        
      </form>

      <form action="how-will-you-arrive" method="POST"  autocomplete="off" novalidate="true" spellcheck="false">

        <div id="have-other-nationalities-group" class="form-group form-group">
          <div role="" aria-required="true">
            <legend class='form-label-bold'>
              <span><span lang="en">Do you currently have any other nationalities?</span><span lang="ar">هل تحمل أي جنسيات أخرى؟</span></span>
            </legend>
            <div class="multiple-choice" data-target="other-nationalities-group">
              <input type="radio" name="have-other-nationalities" id="have-other-nationalities-Yes" value="" required="true">
              <label for="have-other-nationalities-Yes">
                <span lang="en">Yes</span><span lang="ar">نعم</span>
              </label>
            </div>
            <div class="multiple-choice">
              <input type="radio" name="have-other-nationalities" id="have-other-nationalities-No" value="No" required="true">
              <label for="have-other-nationalities-No">
                <span lang="en">No</span><span lang="ar">لا</span>
              </label>
            </div>
          </div>
        </div>
  
        <div id="other-nationalities-group" class="form-group panel-indent narrow js-hidden">
          <label for="other-nationalities" class="form-label-bold">
            <span lang="en">Enter the other nationalities that you hold.</span><span lang="ar">أدخل الجنسيات الأخرى التي تحملها.</span>
            <span id="other-nationalities-hint" class="form-hint"><span lang="en">For example, 'Canadian, Italian'</span><span lang="ar">على سبيل المثال، الكندية أو الإيطالية</span></span>
          </label>
          <input type="text" name="other-nationalities" id="other-nationalities" class="form-control" aria-required="true" maxlength="100" aria-describedby="other-nationalities-hint">
        </div>
  
        <div id="had-previous-nationalities-group" class="form-group form-group">
          <div role="" aria-required="true">
            <legend class='form-label-bold'>
              <span><span lang="en">Have you had any other nationalities in the past?</span><span lang="ar">هل حملت أي جنسيات أخرى سابقا؟</span></span>
            </legend>
            <div class="multiple-choice" data-target="enter-other-names-group">
              <input type="radio" name="had-previous-nationalities" value="" required="true">
              <label for="had-previous-nationalities-Yes">
                <span lang="en">Yes</span><span lang="ar">نعم</span>
              </label>
            </div>
            <div class="multiple-choice">
              <input type="radio" name="had-previous-nationalities" id="had-previous-nationalities-No" value="No" required="true">
              <label for="had-previous-nationalities-No">
                <span lang="en">No</span><span lang="ar">لا</span>
              </label>
            </div>
          </div>
        </div>
  
        <div id="enter-other-names-group" class="form-group  panel-indent narrow js-hidden">
          <label for="previous-nationalities" class="form-label-bold">
            <span lang="en">Enter all the nationalities you had previously.</span><span lang="ar">أدخل كل الجنسيات التي حملتها سابقا،</span>
            <span id="previous-nationalities-hint" class="form-hint"><span lang="en">For example, 'British'</span><span lang="ar">مثلا، بريطانية</span></span>
          </label>
          <input
            type="text"
            name="previous-nationalities"
            id="previous-nationalities"
            class="form-control"
            aria-required="true"
            maxlength="100"
            aria-describedby="previous-nationalities-hint">
        </div>
        <button class="button" id="continue"><span lang="en">Continue</span><span lang="ar">استمر</span></button>
      </form>

    </div>

  </div>
</div>


<!--<form action="/facility-list" method="post" novalidate>
  <input type="hidden" name="facility-5-updated" value="yes">
    {{ govukButton({
      text: "Update facility",
      value: data['facility-5-updated']
    }) }}
</form>-->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
