{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Facility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/head.html" %}
{% endblock %}



{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "facility-list"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">UKEF facility ID {{ data['facility-4-ref'] }}</span>
    <h1 class="govuk-heading-xl">
      Update facility
    </h1>

    <h2 class="govuk-heading-l">Overview</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Exporter
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          {{ data['facility-4-name'] }}
        </dd>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          UKEF facility ID
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          {{ data['facility-4-ref'] }}
        </dd>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Bank facility reference
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          WXY-76543
        </dd>
        <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">

        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Product type
        </dt>
        <dd class="govuk-summary-list__value">
          General Export Facility
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Facility description
        </dt>
        <dd class="govuk-summary-list__value">
          Cash
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Facility base currency
        </dt>
        <dd class="govuk-summary-list__value">
          GBP
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Cover end date
        </dt>
        <dd class="govuk-summary-list__value">
          23 Mar 2025
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          1 year probability of default (reported semi-annually)
        </dt>
        <dd class="govuk-summary-list__value">
          Reported in March
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Flag: 90 days still no utilisation (from date of facility letter)
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag">Facility utilised</strong>
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      </dl>


      <h2 class="govuk-heading-l">Value and exposure</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Bank facility limit
          </dt>
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
            GBP 200,000.00
          </dd>
          <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF cover
          </dt>
          <dd class="govuk-summary-list__value">
            80%
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKEF's maximum exposure
          </dt>
          <dd class="govuk-summary-list__value">
            GBP 160,000.00 
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl> 
     
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-l" id="Utilisation-and-fees">Utilisation and fees</h2>
        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
          {% if (data['facility-4-utilisation-updated'] == 'yes') and (data['facility-4-accrued-updated'] == 'yes') and (data['facility-4-accrued-updated'] == 'yes') and (data['facility-4-paid-updated'] == 'yes') and (data['facility-4-exposure-updated'] == 'yes')  %}
          {{ govukTag({
            text: "Completed",
            classes: "govuk-tag--green"
          }) }}
          {% else %}
          {{ govukTag({
            text: "To do"
          }) }}
          {% endif %}
        </div>
      </div>

    


    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Bank facility current utilisation
        </dt>
        <dd class="govuk-summary-list__value govuk-!-width-one-quarter">
          GBP {{ data['facility-4-utilisation'] }}
        </dd>
        <dd class="govuk-summary-list__actions  govuk-!-width-one-quarter">
          <a class="govuk-link" href="/facility4/facility-utilisation">
            Update<span class="govuk-visually-hidden"> bank facility current utilisation</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UKEF's current exposure
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-4-exposure'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/facility4/ukef-exposure">
            Update<span class="govuk-visually-hidden"> UKEF's current exposure</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Fees paid to UKEF since last report submitted
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-4-paid'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/facility4/fees-paid">
            Update<span class="govuk-visually-hidden">Fees paid to UKEF since last report submitted</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Outstanding accrual at reporting date
        </dt>
        <dd class="govuk-summary-list__value">
          GBP {{ data['facility-4-accrued'] }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/facility4/fees-accrued">
            Update<span class="govuk-visually-hidden"> UKEF's guarantee fees accrued for the quarter</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">Add updates to UKEF report</h2>
    {% if (data['facility-4-accrued-updated'] == 'yes') and (data['facility-4-utilisation-updated'] == 'yes') and (data['facility-4-paid-updated'] == 'yes') and (data['facility-4-exposure-updated'] == 'yes')  %}
    <form action="/facility-list" method="post" novalidate>
      <input type="hidden" name="facility-4-updated" value="yes">
      {{ govukButton({
        text: "Add updates",
        value: data['facility-4-updated']
      }) }}
    </form>
    {% else %}
    <p class="govuk-body">You must complete all the updates first.</p>
    {% endif %}
  
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  </div>
</div>

{% endblock %}
